.body{
    display: grid;
}

.rand{
    background-color: red ;
}

.mid{
    display: grid;
    grid-template-columns: 5fr 1fr;
    margin-left: 5%;
    margin-right:5%;
}

.textfield{
    min-height: 300px;
}

.spalte{
    border-width: 1px;
    border-style: solid;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 5px;
}
